

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-573015635638879457.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-573015635638879457.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-573015635638879457.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-573015635638879457.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-573015635638879457.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-573015635638879457.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-573015635638879457.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-573015635638879457.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-573015635638879457.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-573015635638879457.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-573015635638879457.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-573015635638879457.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-573015635638879457.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-573015635638879457.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-573015635638879457.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-573015635638879457.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-573015635638879457.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-573015635638879457.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-573015635638879457.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-573015635638879457.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-573015635638879457.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-573015635638879457.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-573015635638879457.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-573015635638879457.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-573015635638879457.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-573015635638879457.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-573015635638879457.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-573015635638879457.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-573015635638879457.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-573015635638879457.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-573015635638879457.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-573015635638879457.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-573015635638879457.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-573015635638879457.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-573015635638879457.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-573015635638879457.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-573015635638879457.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-573015635638879457.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-573015635638879457.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-573015635638879457.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-573015635638879457.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-573015635638879457.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-573015635638879457.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-573015635638879457.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-573015635638879457.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-573015635638879457.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-573015635638879457.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-573015635638879457 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-573015635638879457 .gp-relative{position:relative}.gps-573015635638879457 .gp-z-1{z-index:1}.gps-573015635638879457 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-573015635638879457 .gp-mb-0{margin-bottom:0}.gps-573015635638879457 .gp-flex{display:flex}.gps-573015635638879457 .gp-inline-flex{display:inline-flex}.gps-573015635638879457 .gp-grid{display:grid}.gps-573015635638879457 .\!gp-hidden{display:none!important}.gps-573015635638879457 .gp-hidden{display:none}.gps-573015635638879457 .gp-h-full{height:100%}.gps-573015635638879457 .gp-max-w-full{max-width:100%}.gps-573015635638879457 .gp-shrink-0{flex-shrink:0}.gps-573015635638879457 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-573015635638879457 .gp-flex-col{flex-direction:column}.gps-573015635638879457 .gp-items-center{align-items:center}.gps-573015635638879457 .gp-justify-center{justify-content:center}.gps-573015635638879457 .gp-gap-y-0{row-gap:0}.gps-573015635638879457 .gp-overflow-hidden{overflow:hidden}.gps-573015635638879457 .gp-break-words{overflow-wrap:break-word}.gps-573015635638879457 .gp-rounded-none{border-radius:0}.gps-573015635638879457 .gp-bg-g-brand{background-color:var(--g-c-brand)}.gps-573015635638879457 .gp-text-center{text-align:center}.gps-573015635638879457 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-573015635638879457 .gp-no-underline{text-decoration-line:none}.gps-573015635638879457 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-573015635638879457 .gp-duration-200{transition-duration:.2s}.gps-573015635638879457 .gp-duration-300{transition-duration:.3s}.gps-573015635638879457 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-573015635638879457 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-573015635638879457 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-573015635638879457 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-573015635638879457 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-573015635638879457 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-573015635638879457 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-573015635638879457 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-573015635638879457 .tablet\:\!gp-hidden{display:none!important}.gps-573015635638879457 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-573015635638879457 .mobile\:\!gp-hidden{display:none!important}.gps-573015635638879457 .mobile\:gp-hidden{display:none}}.gps-573015635638879457 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-573015635638879457 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-573015635638879457 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-573015635638879457 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-573015635638879457 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-573015635638879457 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="ga5Z1iVC-y" data-id="ga5Z1iVC-y"
        style="--blockPadding:base;--pt:0px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ga5Z1iVC-y gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gdjBk_VOmt gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:left"
    
  >
    <style>
    .gg5QdfAGb5.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gg5QdfAGb5:hover::before {
      
      
    }

    .gg5QdfAGb5:hover .gp-button-icon {
      color: undefined;
    }

     .gg5QdfAGb5 .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gg5QdfAGb5:hover .gp-button-price {
      color: undefined;
    }

    .gg5QdfAGb5 .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gg5QdfAGb5 .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gg5QdfAGb5:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="tel:0741787327" target="_self" data-id="gg5QdfAGb5" aria-label="<p>0741787327 (Luni - Vineri, 08:00 - 20:30)</p>"
      
      data-state="idle"
      class="gg5QdfAGb5 gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-bg-g-brand hover:gp-bg-g-highlight gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]/button:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587899400552">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,154.8l-47.09-21.11-.18-.08a19.94,19.94,0,0,0-19,1.75,13.08,13.08,0,0,0-1.12.84l-22.31,19c-13-7.05-26.43-20.37-33.49-33.21l19.06-22.66a11.76,11.76,0,0,0,.85-1.15,20,20,0,0,0,1.66-18.83,1.42,1.42,0,0,1-.08-.18L101.2,32A20.06,20.06,0,0,0,80.42,20.15,60.27,60.27,0,0,0,28,80c0,81.61,66.39,148,148,148a60.27,60.27,0,0,0,59.85-52.42A20.06,20.06,0,0,0,224,154.8ZM176,204A124.15,124.15,0,0,1,52,80,36.29,36.29,0,0,1,80.48,44.46l18.82,42L80.14,109.28a12,12,0,0,0-.86,1.16A20,20,0,0,0,78,130.08c9.42,19.28,28.83,38.56,48.31,48A20,20,0,0,0,146,176.63a11.63,11.63,0,0,0,1.11-.85l22.43-19.07,42,18.81A36.29,36.29,0,0,1,176,204Z" /></svg></span>
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggg5QdfAGb5_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-573015635638879457 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zsqie8-wr/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=569355722106602476&sectionId=573015635638879457)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggg5QdfAGb5_label","label":"ggg5QdfAGb5_label","default":"<p>0741787327 (Luni - Vineri, 08:00 - 20:30)</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
